@mixin part-block($float) {
  width: 50%;
  height: 100vh;
  display: flex;
  float: $float;
}

.right {
  @include part-block(right);
  z-index: -100;
  background: linear-gradient(178.96deg, #f6cf00 0.85%, #ffe63c 99.11%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.left {
  @include part-block(left);
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-left: 60px;
  position: absolute;
  b {
    font-size: 24px;
  }
  span {
    color: #f6cf00;
  }
}

.loginForm,
.resetPasswordForm,
.signUpForm {
  width: 416px;
  display: block;
  margin: auto;
}

.end_group {
  padding-top: 30px;
  text-align: center;
}

.yellow_span {
  color: #f6cf00;
  font-weight: 500;
  cursor: pointer;
}

.enter_span {
  color: #9c9ea9;
  font-size: 14px;
  font-weight: 500;
}

.copywrite_span {
  color: #9c9ea9;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  left: 60px;
}

@mixin text($mb, $fs, $fw) {
  margin-bottom: $mb;
  font-size: $fs;
  font-weight: $fw;
}

.main_span {
  @include text(20px, 32px, 700);
}

.extra_span {
  @include text(40px, 20px, 500);
  color: #9c9ea9;
}

.carousel_header {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.carousel_description {
  @include text(60px, 16px, 500);
}

.carousel_img {
  margin-bottom: 175px;
}
