.welldata__title {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
  text-align:center;
  margin: 0;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #dddfe0;
}

.welldata__info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.welldata__item {
  display: flex;
  align-items:center;
  padding: 0 20px 0px 23px;
  justify-content: space-between;

  &:first-of-type {
    padding-top: 0 px;
   
  }
}

.welldata__name {
  margin: 0;

  &:first-of-type {
    padding-right: 35px;
     }

}

.welldata__data {
  margin: 0;

  &_bold {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
  }
 
}
