$height: 65px;
$main-color: #f6cf00;
$gray-color: #dddfe0;
$yellow-color: #f6cf00;
$width: 1320px;

%custom-link {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  line-height: 30px;
  height: 50%;
 
  text-decoration: none;
  border: 3px solid transparent;
  color: #868686;
  cursor: pointer;
}

.navbar {
  margin: 0 auto;
  display: flex;
  height: $height;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 30px;
    height:5px;
    scrollbar-color: #6969dd #e0e0e0;
  }
  &__items {
    display: flex;
    gap:20px;
  }

  &__item {
    @extend %custom-link;

    &:hover {
      border-bottom: 3px solid #fed602;
    }
  }

  &__item_active {
    @extend %custom-link;
    color: #000000;
    border-bottom: 3px solid #fed602;
  }
}
